*{
	margin: 0px;
	padding: 0px;
}
.nav{
	width:100%;
	height: 100px;
	display: inline-block;
	background-color: #edf7f7;
}
.nav img{
	height: 100px;
	float: left;
	margin-left: 90px;
	border-radius: 50%;
}
.nav ul{
	float: right;
	display: flex;
	list-style: none;

}
.nav a{
	text-decoration: none;
	height: 100%;
	display: table;
	float: left;
	padding: 14px 20px;
}
.nav ul li{
	margin: 15px;
	padding: 10px;
	border: 2px solid #d1d1cb;
	font-size: 20px;
	color: #3d3d3b;
}
.nav ul li:hover{
	background:#E0EBE8;
	transition: .4s;
	color:#000;
}
#welcome{
	height: 600px;
	width: 100%;
	background-color: #24abbf;
}	
#welcome-img{
	position: absolute;
	height: 500px;
	width: 50%;
	margin-left: 50vh;
	margin-top: 10vh;
}
.welcome-intro{
	position: absolute;
	margin-top: 20vh;
	margin-left: 60vh;
}
#welcome-heading{
	font-size: 70px;
	font-family: Brush Script MT, Brush Script Std, cursive;
	color: #fff;
}
#welcome-para{
	font-size: 40px;
	font-family: Brush Script MT, Brush Script Std, cursive;
	color: #dcf0f2;
}
#work-section{
	height: 70vh;
	width: 100%;
	background-color: #fff;
}
#work-img{
    height: 25vh;
    width: 14%;
    margin-left: 88vh;
    margin-top: 10vh;
    border-radius: 50%;
}
.work-section{
	height: 30vh;
	width: 50%;
	margin-left: 50vh;
	margin-top: 7vh;
}
#work-heading{
	text-align: center;
	margin-top: 10px;
	font-size: 35px;
	color: #1c61aa;
}
#work-para{
	text-align: center;
	font-size: 22px;
	margin-top: 4vh;
	text-shadow: 1px 1px 1px grey;
}
#job{
	height: 400px;
	width: 100%;
	background-color: #44d6e3;
	border-radius: 10px;
}
#job-img{
	width: 27%;
	height: 50vh;
	margin-left: 15vh;
	margin-top: 5vh;
	border-radius: 50%;
}
.job-info{
	display: inline-block;
	width: 57%;
	margin-left: 17vh;
	margin-top: 25vh;
	float: right;
}
#job-head{
	text-align: left;
	font-weight: lighter;
	font-family: Brush Script MT, Brush Script Std, cursive;
	margin-top: -14vh;
	margin-left: 0vh;
	font-size: 55px;
	color: #1c61aa;
}
#job-heading{
	text-align: left;
	margin-top: 2vh;
	margin-bottom: 2vh;
	font-size: 27px;
	font-weight: lighter;
	font-family: bold;
	color: #1c61ee;
	text-shadow: 1px 1px 1px orange;
}
#job-para{
	text-align: center;
	letter-spacing: 1px;
	font-size: 22px;
	margin-top: 3vh;
	margin-right: 3vh;
	margin-left: -2vh;
	color: black;
	text-shadow: 4px 4px 4px grey;
}
#design{
	height: 400px;
	width: 100%;
	background-color: #fff;
}
#design-img{
	width: 27%;
	height: 50vh;
	border-radius: 50%;
	float: right;
	margin-top: 4vh;
	margin-right: 7vh;
}
.design-info{
	display: inline-block;
	width: 57%;
	margin-left: 5vh;
	margin-top: 7vh;
	float: left;
}
#design-head{
	margin-top: 5vh;
	margin-left: 3vh;
	margin-bottom: 6vh;
	font-size: 27px;
	font-weight: lighter;
	font-family: bold;
	color: #1c61ee;
	text-shadow: 1px 1px 1px orange;
}
#design-para{
	text-align: center;
	letter-spacing: 1px;
	font-size: 22px;
	margin-top: 3vh;
	margin-right: vh;
	margin-left: 2vh;
	color: black;
	text-shadow: 4px 4px 4px grey;
}
#current-work{
	height: 400px;
	width: 100%;
	background-color: #44d6e3;
}
#current-para{
	text-align: center;
	font-weight: lighter;
	font-family: Brush Script MT, Brush Script Std, cursive;
	margin-top: 5vh;
	margin-bottom: 3vh;
	margin-left: 0vh;
	font-size: 75px;
	color: #1c61aa;
}
#current-para1{
	font-size: 50px;
	text-align: center;
	font-family: Brush Script MT, Brush Script Std, cursive;
	letter-spacing: 1px;
	margin-top: 3vh;
	color: #122b2b;
	text-shadow: 4px 4px 4px grey;
}
#current-desc{
	text-align: center;
	letter-spacing: 1px;
	font-size: 22px;
	margin-top: 5vh;
	margin-right: 43vh;
	margin-left: 43vh;
	color: black;
	text-shadow: 4px 4px 4px grey;
}
.message{
	margin-left: 87vh;
	margin-top: 10vh;
	letter-spacing: 7px;
	height: 7vh;
	width: 30vh;
	background-color: #2e280d;
}
.button{
	float: right;
	font-size: 20px;
	color: white;
	margin-right: 13px;
	margin-top: 1.3vh;
	background-color: #2e280d;
	border:none;
	font-family:serif;
}
#message-img{
	float: left;
	height: 40px;
	margin-top: 0vh;
}
footer{
	padding: 40px 0;
	background-color: #b8cfc7;
}
footer p{
	text-align: center;
	margin: 0 auto;
	font-size: 18px;
	color: #30b083;n m,./	
}

